
            {% for category in spanish_categories %}
                {% if category %}
                <li class="dropdown">
                    <a class="dropdown-toggle text-uppercase" data-toggle="dropdown" href="{{ category.link }}"> {{ category.title }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for sub_category in category.submenu_set.all %}
                        <li><a href="{{ sub_category.link }}">{{ sub_category.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
            {% endfor %}
            <li><a href="/" class="text-uppercase">English</a></li>
            <li>
                <a href="/es/dona" class="text-uppercase blue-background">Dona</a>
            </li>

