{% extends "spanish_base.html" %}

{% block content %}
{% for post in volunteerabout %}
    {% if forloop.first %}
        {% include "partials/header.html" %}

    <!-- if not first loop -->
    {% else %}
        {% include "partials/volunteer_about.html" %}
    {% endif %}
    {% if forloop.counter == 2 %}
        {% include "partials/volunteer_positions.html" %}
    <!-- end if last for loop -->
    {% endif %}
{% endfor %}

<!-- volunteers -->
{% for post in volunteers %}
    {% include "partials/volunteer_subcat.html" %}
{% endfor %}
<!-- interships -->
{% for post in internships %}
    {% include "partials/volunteer_subcat.html" %}
{% endfor %}
<!-- fees -->
{% for post in fees %}
    {% include "partials/volunteer_subcat.html" %}
{% endfor %}
        <div class="text-center">
            <a href="/es/aplicar""> <button type="button" class="btn-lg btn-primary" >¡Aplica ya!</button></a>
        </div>
{% endblock %}
